
#map { 
  z-index: 1;
  max-width: 50rem; /* Adjust this value to your preference */
  height:35rem; /* Adjust height as needed */
 }

#siteLayout {
  margin-left: 10rem; 
  margin-right: 10 rem;
  margin-top: 3rem;
  max-width: 100rem;
}

#formSubmitBtn {
  margin-top: 1rem; 
}


#titleDescription{
  margin-bottom: 5rem; 
}

#formSubmitBtn{
  margin-top: 1rem; 
  margin-bottom: 1rem; 
}

#footer{

  margin-top: 1rem; 
  max-width: 80rem; 
}